<%- include('./partials/header'); -%>  
    <%responses.forEach(function(responses){%>
        <%if(responses.submit===true){%>
            <div>
                <h1>Title - <%=responses.title%></h1>
                <p> Description -<%=responses.description%></p>
                <p>DueDate - <%=responses.dueDate%></p>
                <p>Answer - <%=responses.response%></p>
            </div>
            <form method="post">
                <input name="feedback">
                <input name="id" value="<%=assignment._id%>"type="hidden"/>
            </form>
        <%}%>
    <%});%>
<%- include('./partials/footer'); -%>    